{
  "swagger": "2.0",
  "info": {
    "description": "Optimo WebAPI",
    "license": {
      "name": "OPTIMO License",
      "url": "https://optimoevents.com/resources/privacy-policy/"
    },
    "version": "v1",
    "title": "Optimo.WebAPI"
  },
  "host": "apidocumentation.optimosoftware.co.uk:8112",
  "basePath": "/V4.4.0/WebAPI/DEV",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/V4.1/customers/customer-overview": {
      "head": {
        "tags": [
          "Customers"
        ],
        "summary": "About Customers - Overview",
        "description": "An OPTIMO customer can be either an Organisation, Individual, Agent or Prospect. All customer types, except for prospects, will have one or more Contact records attached, for example a company may have several members of staff who may make bookings. Prospects may only make enquiries and have to be converted to a customer before they can make a booking. \r\n\r\nAddresses and contact information such as emails and phone numbers may be recorded both at customer account level and contact level. An organisation may have multiple branches. \r\n\r\n<img class=\"img-responsive\" alt=\"Customer Model\" src=\"images/customer-model.png\"></img>\r\n\r\nActivity history is automatically maintained for all customers (broken down by customer, branch and contact level), encompassing purchases by year, business area and event; current enquiries and bookings; invoice and payment history; pending and historic tasks and correspondence history.\r\n\r\nAdmin users may customise mandatory fields, rename or switch on and off inputs as well as define custom fields to tweak the customer model according to business needs.",
        "operationId": "Customer_ClientOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Customer.Client"
            }
          }
        }
      }
    },
    "/api/v4.1/events/Events-Overview": {
      "head": {
        "tags": [
          "Events"
        ],
        "summary": "About Events - Overview",
        "description": "There are two fundamentally different types of events supported in OPTIMO: Public Events and Private Events. Public events, which are scheduled in advance before any bookings are made, include, but are not limited to, race days, sport events, classes, courses and concerts while private events, which are ad-hoc/customer driven events, relate to conferences, bespoke corporate driving days, product launches, weddings, board meetings etc. Public events are generally sold per person and private events are sold as space hire. Private events can take place anytime when there is no public event or assets are blocked off for maintenance.\r\n\r\n<img class=\"img-responsive\" alt=\"Event Model\" src=\"images/event-model.png\"></img>\r\n\r\nAll events that are going ahead will eventually have one or more assets and timeslots linked. For private events, those timeslots are reserved for the client making the booking at the time of making the booking and are most of the time not shared with anybody else (although it's possible to share a facility with other events in some cases). For public events, on the other hand, those assets are mostly shared with other customers, e.g. a stand or restaurant in a stadium, and availability is based on the capacity of the configurations used for the event.",
        "operationId": "Events_EventsOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Event"
            }
          }
        }
      }
    },
    "/api/v4.1/products/Product-Overview": {
      "head": {
        "tags": [
          "Products"
        ],
        "summary": "About Products - Overview",
        "description": "OPTIMO products are either a type of Package or Item. An item is the smallest component you can book and may be included in a package or added as an upsell item at time of booking. A package is always associated with an Event - either a public or private event. \r\n\r\nThere are many different types of items, for example asset items, catering items, services and commission items, which define the characteristics of an item and the behaviour when it is being booked. For example, all types of asset hire, whether facility hire by the hour or general admission tickets, take place through asset items, which are linked to one or more assets. Items may be priced by period, e.g. hours or days, or by quantity. Prices are further defined by price groups, which may be used to vary the price by time of day or weekday as well as other factors. A third dimension of price variations can be created by enabling concession based pricing, e.g. commercial, community, schools etc. \r\n\r\n<img class=\"img-responsive\" alt=\"Product Model\" src=\"images/product-model.png\"></img>\r\n\r\nWhen items are added to a package at setup stage they become Package Items. There are two types of packages: Standard and Bespoke. Items included in standard packages may not be altered in a booking, but items added to a bespoke package may be edited or removed. A package item will inherit all attributes of the item, including price. These may be edited at package item level and will not affect the original items. Similarly, if any changes are made to the original item later, those will not be reflected to the package items.  \r\n\r\nBoth packages and items may have tasks and questions attached to them, which will be activated when those products are added to a booking.",
        "operationId": "Products_ProductsOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Packages.Package"
            }
          }
        }
      }
    },
    "/api/V4.1/customers/age-ranges": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Age Ranges - List",
        "operationId": "Customer_GetAgeRange",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Customer.AgeRange"
              }
            }
          }
        }
      }
    },
    "/api/v4.1/assets/Asset-Overview": {
      "head": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets   Overview",
        "description": "An Asset is an abstract type, which holds generic information related to Facility, Resource and Branding Area types.\r\n        \r\n<img class=\"img-responsive\" alt=\"Asset Model\" src=\"images/asset-model.png\"></img>\r\n        \r\nAll assets belong to a venue and one venue only. However, resources may be temporarily moved and included in events in different venues. \r\n         \r\nAssets can be booked through the relevant type of asset item, e.g. a resource may be booked through a <a href=\"ResourceItem\">ResourceItem</a>, which also controls its price. Pricing can be based on hours, half days and days as well as per person or fixed for the duration of an event. OPTIMO will automatically calculate the price based on the duration, time of the day, day of the week and any discounts or promotions.  \r\n         \r\nAssets availability is controlled through <a href=\"Timeslot\">Timeslots</a>, which are created when an asset is booked, added to an event, blocked, used for setup or teardown or added to an enquiry. Some facility types are further controlled by a table plan, seating chart or parking plan. \r\n         \r\nWhen an asset is used in a public event, the asset's capacity (applicable for facilities and resources) determines how many bookings can be taken for it. When an asset is used in private event, it can normally only be booked by one customer at a time. However, for assets which are defined as shareable (through the EnableSharing flag), they can be included in multiple private - as well as public - events at any given time.  \r\n         \r\nIn order to avoId operational overlaps it is possible to attach default setup and teardown times to assets, which can be further adjusted at time of booking. \r\n         \r\nAn asset group is a special type of asset which can be used to group near Identical assets together, e.g. 1000 round tables or 20 garages. When making a booking for an asset group, the required quantity needs to be specified. An asset group is recognised by having a LinkedAssets collection populated with sub assets. All included sub assets must be of same type and category.",
        "operationId": "Assets_AssetOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.Asset"
            }
          }
        }
      }
    },
    "/api/v4.1/assets/BrandingArea-Overview": {
      "head": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets   Overview - Branding Areas",
        "description": "A Branding Area is an asset sub type that represents branding areas such as billboards, flags or media centre backdrops.\r\n        \r\n<img class=\"img-responsive\" alt=\"Asset Model\" src=\"images/asset-model-branding-area.png\"></img>\r\n        \r\nJust like other <code>assets</code>, branding areas can have dimensions defined and default setup and teardown times. \r\n         \r\nCapacity is used slightly differently for branding areas as a branding area normally can either be booked or not. However, some branding areas may be shared where applicable, e.g. electronic billboards. In such cases, capacity indicates number of bookings (as opposed to number of people).",
        "operationId": "Assets_BrandingAreaOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.BrandingArea"
            }
          }
        }
      }
    },
    "/api/v4.1/assets/Facility-Overview": {
      "head": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets   Overview - Facilities",
        "description": "A Facility is an asset sub type that represents facility space in a venue where some activity takes place, such as restaurants, meetings rooms, stands etc. A facility may not necessarily be rooms but could also be things like fields, sports courts, driving circuits or parking areas.\r\n                 \r\n<img class=\"img-responsive\" alt=\"Asset Model\" src=\"images/asset-model-facility.png\"></img>\r\n        \r\nA facility may have many <a href=\"Configuration\">configurations</a>, but must have one default configuration. There are five types of configurations:\r\n         \r\n1. <a href=\"Configuration\">Seating Chart Configuration</a>\r\n2. <a href=\"Configuration\">Dining (Table Plan) Configuration</a>\r\n3. <a href=\"Configuration\">Private Suite Configuration</a>\r\n4. <a href=\"Configuration\">General Admission Configuration</a>\r\n5. <a href=\"Configuration\">Parking Space Configuration</a>\r\n         \r\nSome facility attributes, like capacity, setup and teardown times are defined at configuration level only. Dimensions are specified at facility level but can be overridden at configuration.",
        "operationId": "Assets_FacilityOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.Facility"
            }
          }
        }
      }
    },
    "/api/v4.1/assets/Resource-Overview": {
      "head": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets   Overview - Resources",
        "description": "A Resource ia an asset sub type that represents resources, such as A/V equipment, vehicles, furniture or instructors. \r\n        \r\n<img class=\"img-responsive\" alt=\"Asset Model\" src=\"images/asset-model-resource.png\"></img>\r\n        \r\nResources can be flagged as being a human resource, e.g. instructors, speakers or performers. A human resource may be linked to a system user, who may then be able to view personalised schedules based on resource bookings. \r\n         \r\nNote that, just as any other asset, resources can only be booked for a period of time and never sold. As a guIdeline, any external resources that are hired in occasionally should not be set up as a Resource, but as a Service. \r\n         \r\nResource capacity is often mistakenly seen as the number of resources available (Asset Group should be used in this instance) rather than how many people it caters for. Capacity is not always relevant for resources, e.g. it would rarely be possible to determine how many people a projector or speaker can handle. In such cases, capacity may be left undetermined.",
        "operationId": "Assets_ResourceOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.Resource"
            }
          }
        }
      }
    },
    "/api/v4.1/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets - List",
        "description": "Returns a list of <a href=\"http://145.239.206.89:8085/V4.4.0/WebAPI/DEV/swagger/#!/Assets/Assets_AssetOverview\">Asset</a> records, which can be either of type Facility, Resource or Branding Area.\r\n\r\nA number of parameters are available to narrow down the list, please see below. For most scenarios, it is recommended to use sparse field sets and only required includes, in order to optimise resonse times. \r\n\r\nWhile this operation may be used for a wide array of scenarios, a popular use case is to display facilities which are available to book on a public website. To do so, you should set the following parameters:\r\n\r\n- assetClassoptimoId: 1 (Facility)\r\n- salesChannelId: 5 (Internet)\r\n- ActiveStatus: 1 (Active)\r\n\r\nYou may also want to filter based on capacity and requested time. \r\n\r\nFor listing available facilities on a public website, you may want to include information about capacity, short descriptions and a thumbnail. An example request is shown below. \r\n\r\nSupported includes:\r\n\r\n- Venue \r\n- Documents \r\n- Multimedia\r\n- Owner\r\n- Facility.Configurations\r\n- Amenities\r\n            \r\nSorting as per json:api specification. Supported sort fields:\r\n\r\n- Id\r\n- Name\r\n- AssetClass\r\n- AssetType\r\n- AssetCategory\r\n- Venue.Id\r\n- Venue.Name\r\n- AuditInfo.DateCreated",
        "operationId": "Assets_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "description": "Partial match search covering Name, Description, Keywords, Asset Type and Asset Category",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetName",
            "in": "query",
            "description": "Partial match",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.keywords",
            "in": "query",
            "description": "Match one or more keywords (send multiple keywords comma separated)",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.venueId",
            "in": "query",
            "description": "The venue which the asset belongs to. Multiple venue Ids may be sent comma separated.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.capacityFrom",
            "in": "query",
            "description": "Applies only to Facility (considering all configurations) and Resource records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.capacityTo",
            "in": "query",
            "description": "Applies only to Facility (considering all configurations) and Resource records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.eventID",
            "in": "query",
            "description": "Must be a public event",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.assetClassId",
            "in": "query",
            "description": "1-Facility, 2-Resource, 3-Branding Area",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetTypeId",
            "in": "query",
            "description": "Filter by one or more asset types (Facility Type, Resource Type or Branding Area Type) in a comma separated list.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetCategoryId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.configurationTypeId",
            "in": "query",
            "description": "Configurations are only applicable for Facility type assets",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.configurationCategoryId",
            "in": "query",
            "description": "Configurations are only applicable for Facility type assets",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.activeStatus",
            "in": "query",
            "description": "1-Only Active, 2-Only Inactive, 3-All",
            "required": false,
            "type": "string",
            "enum": [
              "OnlyActive",
              "OnlyInactive",
              "All"
            ]
          },
          {
            "name": "filters.duration",
            "in": "query",
            "description": "Use duration (in minutes) in conjunction with start and end time filters to find an available asset.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.startTime",
            "in": "query",
            "description": "In order to find available assets for a given time, use start and end time filters as well as duration",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.endTime",
            "in": "query",
            "description": "In order to find available assets for a given time, use start and end time filters as well as duration",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.salesChannelID",
            "in": "query",
            "description": "If retrieving assets to book online, filter by sales channel ID: 5",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.considerOpeningHours",
            "in": "query",
            "description": "When filtering by availability, this flag can be set to take opening hours into account.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.salesCategoryId",
            "in": "query",
            "description": "In order to find assets linked to items matching a given sales category, use this filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetIds",
            "in": "query",
            "description": "To retrieve details about a list of known assets, provide asset Ids in comma separated format",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.priceConcessionIds",
            "in": "query",
            "description": "To find assets linked to items with a a specific price concession",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingTypeIds",
            "in": "query",
            "description": "To find assets suitable for a given booking type",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.considerPreliminaryAsUnavailable",
            "in": "query",
            "description": "When filtering for available assets within a period, you can use this option to treat preliminarily booked assets as unavailable.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.itemTypeIds",
            "in": "query",
            "description": "To find assets linked to items of a specific item type",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.Asset"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view assets"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets - Select",
        "description": "Returns a single <a href=\"V4.4.0/WebAPI/DEV/swagger/#!/Assets/Assets_AssetOverview\">Asset</a> record, which can be either of type Facility, Resource or Branding Area.\r\n\r\nSupported includes:\r\n\r\n- Venue \r\n- Documents \r\n- Multimedia\r\n- Owner\r\n- Facility.Configurations\r\n- LinkedAssets",
        "operationId": "Assets_GetSingle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.Result.Asset"
            }
          },
          "304": {
            "description": "Not modified"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view assets"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/categories": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Categories - List",
        "description": "Returns a list of asset categories.",
        "operationId": "Assets_GetAssetCategoryList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetClassId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.AssetCategory"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view asset categories"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/categories/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Categories - Select",
        "description": "Supported includes:\r\n\r\nAssets",
        "operationId": "Assets_SelectAssetCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.AssetCategory"
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view configurations"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/diary-agenda": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Diary Agenda - List",
        "description": "Get public events, private events (booking), blocks and diary notes for a period. (not enquiries or unconfirmed bookings). The top 3 assets (in terms of capacity) only will be returned. \r\n\r\nSupported includes:\r\n\r\nPublicEvent\r\nPrivateEventInstance\r\nBlockTimeslot\r\nDiaryNote",
        "operationId": "Assets_DiaryAgendaSearch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetID",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.venueID",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.fromDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.toDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetTypeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.assetCategoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.eventId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.DiaryAgenda.Result.AgendaActivity"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/{id}/Items": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Items - List",
        "description": "Returns list of items liked to a given asset.\r\n\r\nSupported includes:\r\n\r\nItemPrices",
        "operationId": "Assets_ItemSearch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.venueId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetClassId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.salesCategoryId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.fromDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.toDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.configurationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.activeStatus",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "OnlyActive",
              "OnlyInactive",
              "All"
            ]
          },
          {
            "name": "filters.currencyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.priceConcessionID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Item.Item"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view items"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/types": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Types - List",
        "description": "Returns a list of asset types.",
        "operationId": "Assets_GetAssetTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetClassId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.AssetType"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view asset types"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/types/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Assets / Types - Select",
        "description": "Supported includes:\r\n\r\nAssets",
        "operationId": "Assets_SelectAssetType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.AssetType"
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view asset types"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/v4.1/assets/block-categories": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Block Categories - List",
        "description": "Returns list of block categories, which may be used when creating blocked timeslots.",
        "operationId": "Assets_GetBlockingCategoryList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ActiveStatus",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "OnlyActive",
              "OnlyInactive",
              "All"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Asset.BlockCategory"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad request - Check the detailed message for more information"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view block categories"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/customers/booking-types": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Booking Types - List",
        "description": "Retrieves a list of booking types.",
        "operationId": "Customer_GetBookingTypesList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Package.BookingType"
              }
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view allocations"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/Booking-Overview": {
      "head": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings   Overview",
        "description": "A booking keeps track of products and services booked by a customer. OPTIMO supports a wide array of different types of bookings, from a simple hire of a meeting room or tennis court to complex multi-day events like concerts or exhibitions. Public event bookings such as admission tickets, courses, classes, experiences and corporate hospitality may also be booked. In general, any type of products can be mixed in a single booking, although for practical purposes it is not always the best practise to do so. Some types of bookings, specifically those that are linked with a set booking type (e.g. waste collection and seasonal sports allocation, cannot be mixed through the standard OPTIMO applications. The API does not restrict any mix of products, though. \r\n\r\n<img class=\"img-responsive\" alt=\"Booking Model\" src=\"images/booking-model.png\"></img>\r\n\r\nA booking will always have a customer attached to it. Even if no customer is specified at time of creating the booking, a default customer record will be assigned temporarily. In order to proceed with sending out a proposal or raising an invoice, an actual customer must be selected. This is done by selecting a contact, which always is attached to a client. Once a booking has been invoiced you cannot change customer, but you may change to another contact owned by the same client. \r\n\r\nAll products are added through packages, which once added to a booking becomes a Booking Package. The booking package will inherit all attributes of the package, including price and all of the standard items the package may have. If any changes are made to the original package or its items later, those will not be reflected to the booking packages. Users may add further items (specifically items that are defined as \"upsell\" permitted) to a booking package. All types of asset hire, whether facility hire by the hour or general admission tickets, take place through asset items, which are linked to one or more assets.  \r\n\r\nThrough the products added to a booking, tasks and questions may be automatically generated if set at product (i.e. Package or Item) level. In addition, users may add ad-hoc tasks as well. \r\n\r\nBooking statuses control much of the workflow that a booking goes through, including expiry behaviour, approvals and email notifications. \r\n\r\nCustomers pay for the booked products and services by making payments to invoices. The payment term assigned to a booking dictates how the booking will be invoiced, whether manually by users or automatically by the system at various points in time, such as 30 days before the event or staged payment plans with multiple invoices. In most cases, all invoices are raised to the invoice contact of the booking. However, if manual invoicing is in play, users may raise invoices to different customers, which is useful if an event is shared by multiple parties. \r\n\r\nA booking can be cancelled at any time, but a cancellation fee may be added to the booking according to its cancellation policy.",
        "operationId": "Booking_BookingOverview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.V1.Booking"
            }
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/cancel-booking": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Cancel",
        "description": "Cancels a booking. Any cancellation charges will be applied according to the cancellation policy attached to the booking, unless explicitly overridden by sending a cancellation fee item along with the booking object.",
        "operationId": "Booking_CancelBooking",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingJson",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Task"
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to edit bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/reject": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Cancel Pending Booking",
        "description": "This operation may be used to cancel a booking that never got beyond pending status.",
        "operationId": "Booking_RejectPendingBooking",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Object",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to edit bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/adhoc-availability": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Get Adhoc Availability",
        "description": "Gets availability for a list of adhoc timeslots for a given booking.",
        "operationId": "Booking_BookingAdhocAvailability",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingRecurringTimeslotJson",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
         "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/approval-status": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Get Approval History",
        "description": "Returns the approval history of a booking as well as current approval status.",
        "operationId": "Booking_BookingApprovalStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.userId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.groupId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingStatusId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.clientId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.venueId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.eventTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.includePastEvents",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.V1.BookingApprovalTrail"
              }
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/cancellation-policy-schedule": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Get Cancellation Policy Schedule",
        "description": "Retrieves a detailed list of cancellation fees expected for different points in time according to the booking's current cancellation policy.",
        "operationId": "Booking_GetCancellationPolicySceduler",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.cancellationPolicydetailId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.CancellationPolicySchedule"
              }
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/timeslot-conflicts": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Get Conflicts",
        "description": "Returns a list of soft and hard conflicts for a booking. A stock allocated booking can only have soft conflicts.",
        "operationId": "Booking_GetBookingTimeSlotConflicts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.venueID",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetTypeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.assetClassId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.startTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.endTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.days",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.fromDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.toDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.timeslotTypeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventTypeID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.assetID",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.bookingItemId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.V1.BookingApprovalTrail"
              }
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - List",
        "description": "Returns a list of Booking records.\r\n\r\nA number of parameters are available to narrow down the list, please see below. \r\n\r\nWhen no filters are used and unless otherwise specified, the results will be sorted by Booking Ref descending by default. \r\n\r\nA number on associated entities may optionally be included:\r\n\r\nBookingPackage\r\nBookingItem\r\nContact\r\nClient\r\nBookingStatus\r\nPaymentTerm\r\nCancellationPolicy\r\nSalesPerson\r\nEnquiry\r\nEventManager\r\nSalesChannel\r\nVenue\r\nReferrerClient\r\nReferrerContact\r\n\r\nSorting as per json:api specification. Supported sort fields:\r\n\r\nBookingRef\r\nBookingDate\r\nEventStartDate\r\nRelevance",
        "operationId": "Booking_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.bookingRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.clientRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.clientName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.packageName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.referrer",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactPostCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactEmailAddress",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactPhoneNo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.bookingStatusId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.invoiceRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.venueId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.host",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.salesChannelId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.salesAssistantId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.temporaryBookingsOnly",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.eventdateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.eventdateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.bookingDateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.bookingDateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.pOreference",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.ticketRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.pastEventBookings",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.allocationStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.invoiceStatus",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.despatchStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.paymentStatus",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.userId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingReason",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.alternativeBookingRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.externalBookingId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.timeslotID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.stockAllocationStatus",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.updateBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.updateAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.noteTypeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingTypeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.externalAddressId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.entityNoteTypeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.collectionStatusIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.collectionAddress",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page.size",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.V1.Booking"
              }
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      },
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Create",
        "description": "Inserts a new booking - with or without any products. Use Post /bookings/:id/booking-packages and Post /bookings/:id/booking-packages/:id/booking-items to add products later. \r\n\r\nSubresources, such as booking packages, can be added at the same time, but not core resources, e.g. customers, which will first have to be created separately.\r\n \r\nBooking totals are automatically calculated unless provided (if provided they will be validated).  All facility and resource related items will be automatically allocated.\r\n\r\nUpon successful posting, the newly created booking entity is returned. You may use the same sparse field sets and includes as is supported for booking select (GET /bookings/{id}).",
        "operationId": "Booking_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingJson",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "description": "access token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optimo.WebAPI.Models.Booking.V1.Booking"
            }
          },
          "401": {
            "description": "Unauthorised - You need to log in; potentially the token may have expired"
          },
          "403": {
            "description": "User does not have permission to view bookings"
          },
          "405": {
            "description": "Method not allowed"
          },
          "429": {
            "description": "Too many requests - You have exceeded your API limit threshold"
          },
          "500": {
            "description": "Internal server error - Please do not reveal exception details to end users"
          }
        }
      }
    },
    "/api/V4.1/bookings/{id}/payment-schedule": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Bookings - Payment schedule",
        "description": "Retrieves a list of payment amounts and due dates for a staged payment term policy attached to a booking. \r\n\r\nSupported includes:\r\n\r\nPaymentTerm",
        "operationId": "Booking_PaymentShedules",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.bookingRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.clientRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.clientName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.packageName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.referrer",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactPostCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactEmailAddress",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactPhoneNo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.bookingStatusId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.invoiceRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.venueId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.host",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.assetId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.eventName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.salesChannelId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.salesAssistantId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.temporaryBookingsOnly",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.eventdateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.eventdateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.bookingDateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.bookingDateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.pOreference",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.ticketRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.pastEventBookings",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.allocationStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.invoiceStatus",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.despatchStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.paymentStatus",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.userId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingReason",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.alternativeBookingRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.externalBookingId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.timeslotID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.stockAllocationStatus",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.updateBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.updateAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.noteTypeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.bookingTypeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.externalAddressId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.contactIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.entityNoteTypeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filters.collectionStatusIds",
[...]
